################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/generationnickname.cpp
/generationpassword.cpp
/shifrovanie.cpp
/generationpassword.h
/generationpassword.h
